BasedOnStyle: LLVM
ColumnLimit: 120
BinPackArguments: true
BinPackParameters: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
SortIncludes: false
AlignOperands: DontAlign
AlignAfterOpenBracket: DontAlign
ContinuationIndentWidth: 4
BreakBeforeBinaryOperators: NonAssignment
AlignConsecutiveAssignments: false
AlignEscapedNewlines: DontAlign