Diagnostics:
  UnusedIncludes: None

CompileFlags:
  Add: [-std=c++23]
  CompilationDatabase: build

Index:
  Background: Build

Completion:
  AllScopes: true
  TriggerOnTyping: true

Diagnostics:
  UnusedIncludes: Strict

Hover:
  ShowAKA: true